@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin: 0PX;
    padding: 0PX;
}


.home{
    background-color:#1B1E26;
    border: 2px solid green;
    align-items: center;
    justify-content: center;
}


.row1,.row2{
    color: slategray;
    font-size: 1rem;
    line-height: 40px;
    margin: 20px;
    padding-left: 50px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;

    
    
}

.row3{
    color:slategray;
    font-size: 1rem;
    line-height: 40px;
    padding-left: 60px;
    
}

.row3 input[type="text"]{
    height: 80px;
    width: 710px;
    background-color:#1B1E26;
    color: aliceblue;
    border-color:rgb(145, 143, 143);
    border: none;
	border:1px solid grey ;
    font-family: "PT Sans Narrow", sans-serif;
    text-indent: 10px;
    justify-content: flex-start;
}



.family{
    
    display: flex;

    
    line-height: 30px;
}                                                   

.family input[type="text"],[type="email"],select{
    color: aliceblue;
    height: 40px;
    width: 300px;
    background-color:#1B1E26 ;
    border: 1.5px solid grey;
    text-indent: 10px;
    outline: none;

    
}


.title{
    font-family: "PT Sans Narrow", sans-serif;
    color: white;
    padding-left: 60px;
    font-size: 2.5rem;
}

.title2{
    font-family: "PT Sans Narrow", sans-serif;
    color: slategray;
    padding-left: 60px;
    font-size: 2rem;
    
}




button{
    height: 50px;
    width: 250px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    
}

 .row4{
    color:slategray;
    font-size: 1rem;
    line-height: 40px;
    padding-left: 60px;
 }


 


